.container{
    display: block;
    background-color: blue;
    font-family: 'Source Sans Pro';
    font-size: 1.3em;
    position: absolute;
    z-index: 10;
    width: 400px;
    height: 400px;
    background: #eee;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    padding: 35px;
    border-radius: 40px;
    box-sizing: border-box;
    z-index: 100;
    align-items: center;
}

h2{
    text-align: center;
}

.btn{
    background-color: white;  
    border: 2px solid black;
    border-radius: 40px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 22px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn:hover{
    background-color: black; /* Green */
    color: white;
}